<?xml version='1.0' encoding='UTF-8'?>
<hudson>
    <clouds>
        <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.0">
            <name>andre-kubernetes-cloud</name>
            <defaultsProviderTemplate></defaultsProviderTemplate>
            <templates>
                <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
                    <inheritFrom></inheritFrom>
                    <name>maven</name>
                    <namespace>default</namespace>
                    <privileged>false</privileged>
                    <alwaysPullImage>false</alwaysPullImage>
                    <instanceCap>2147483647</instanceCap>
                    <slaveConnectTimeout>100</slaveConnectTimeout>
                    <idleMinutes>0</idleMinutes>
                    <label>maven default</label>
                    <nodeSelector></nodeSelector>
                    <nodeUsageMode>NORMAL</nodeUsageMode>
                    <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
                    <workspaceVolume
                            class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
                        <memory>false</memory>
                    </workspaceVolume>
                    <volumes/>
                    <containers>
                        <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
                            <name>maven</name>
                            <image>maven:latest</image>
                            <privileged>false</privileged>
                            <alwaysPullImage>false</alwaysPullImage>
                            <workingDir>/home/jenkins</workingDir>
                            <command>/bin/sh -c</command>
                            <args>cat</args>
                            <ttyEnabled>true</ttyEnabled>
                            <resourceRequestCpu>100m</resourceRequestCpu>
                            <resourceRequestMemory>250Mi</resourceRequestMemory>
                            <resourceLimitCpu>1000m</resourceLimitCpu>
                            <resourceLimitMemory>1024Mi</resourceLimitMemory>
                            <envVars/>
                            <ports/>
                            <livenessProbe>
                                <execArgs></execArgs>
                                <timeoutSeconds>0</timeoutSeconds>
                                <initialDelaySeconds>0</initialDelaySeconds>
                                <failureThreshold>0</failureThreshold>
                                <periodSeconds>0</periodSeconds>
                                <successThreshold>0</successThreshold>
                            </livenessProbe>
                        </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
                    </containers>
                    <envVars/>
                    <annotations/>
                    <imagePullSecrets/>
                </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
            </templates>
            <serverUrl>https://kubernetes-master:8443</serverUrl>
            <skipTlsVerify>false</skipTlsVerify>
            <namespace>default</namespace>
            <jenkinsUrl>http://localhost:8080/jenkins/</jenkinsUrl>
            <containerCap>10</containerCap>
            <retentionTimeout>5</retentionTimeout>
            <connectTimeout>0</connectTimeout>
            <readTimeout>0</readTimeout>
            <maxRequestsPerHost>32</maxRequestsPerHost>
        </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
    </clouds>
</hudson>