<?xml version='1.0' encoding='UTF-8'?>
<hudson>
    <clouds>
        <com.nirima.jenkins.plugins.docker.DockerCloud plugin="docker-plugin@1.0.4">
            <name>docker swarm</name>
            <templates>
                <com.nirima.jenkins.plugins.docker.DockerTemplate>
                    <configVersion>2</configVersion>
                    <labelString>docker</labelString>
                    <connector class="io.jenkins.docker.connector.DockerComputerJNLPConnector">
                        <user></user>
                        <jnlpLauncher>
                            <workDirSettings>
                                <disabled>false</disabled>
                                <internalDir>remoting</internalDir>
                                <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
                            </workDirSettings>
                        </jnlpLauncher>
                    </connector>
                    <remoteFsMapping>/Users/benjaminholmes/Documents/workspace/git/kafkametrics/work</remoteFsMapping>
                    <remoteFs>/home/jenkins</remoteFs>
                    <instanceCap>1</instanceCap>
                    <mode>NORMAL</mode>
                    <retentionStrategy class="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">
                        <idleMinutes>10</idleMinutes>
                        <timeout>10</timeout>
                    </retentionStrategy>
                    <numExecutors>1</numExecutors>
                    <dockerTemplateBase>
                        <image>docker-builder:latest</image>
                        <pullCredentialsId></pullCredentialsId>
                        <dockerCommand>cat ~</dockerCommand>
                        <lxcConfString></lxcConfString>
                        <hostname></hostname>
                        <dnsHosts/>
                        <network></network>
                        <volumes/>
                        <volumesFrom2/>
                        <environment/>
                        <bindPorts></bindPorts>
                        <bindAllPorts>false</bindAllPorts>
                        <memoryLimit>500</memoryLimit>
                        <memorySwap>10</memorySwap>
                        <cpuShares>2</cpuShares>
                        <privileged>false</privileged>
                        <tty>false</tty>
                        <extraHosts/>
                    </dockerTemplateBase>
                    <removeVolumes>false</removeVolumes>
                    <pullStrategy>PULL_LATEST</pullStrategy>
                    <nodeProperties/>
                </com.nirima.jenkins.plugins.docker.DockerTemplate>
                <com.nirima.jenkins.plugins.docker.DockerTemplate>
                    <configVersion>2</configVersion>
                    <labelString>swarm</labelString>
                    <connector class="io.jenkins.docker.connector.DockerComputerJNLPConnector">
                        <user></user>
                        <jnlpLauncher>
                            <workDirSettings>
                                <disabled>false</disabled>
                                <internalDir>remoting</internalDir>
                                <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
                            </workDirSettings>
                        </jnlpLauncher>
                    </connector>
                    <remoteFsMapping>/Users/benjaminholmes/Documents/workspace/git/kafkametrics/work</remoteFsMapping>
                    <remoteFs>/home/jenkins</remoteFs>
                    <instanceCap>1</instanceCap>
                    <mode>NORMAL</mode>
                    <retentionStrategy class="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">
                        <idleMinutes>10</idleMinutes>
                        <timeout>10</timeout>
                    </retentionStrategy>
                    <numExecutors>1</numExecutors>
                    <dockerTemplateBase>
                        <image>swarm-builder:latest</image>
                        <pullCredentialsId></pullCredentialsId>
                        <dockerCommand>ll -la</dockerCommand>
                        <lxcConfString></lxcConfString>
                        <hostname></hostname>
                        <dnsHosts/>
                        <network></network>
                        <volumes/>
                        <volumesFrom2/>
                        <environment/>
                        <bindPorts></bindPorts>
                        <bindAllPorts>false</bindAllPorts>
                        <memoryLimit>250</memoryLimit>
                        <memorySwap>10</memorySwap>
                        <cpuShares>1</cpuShares>
                        <privileged>false</privileged>
                        <tty>false</tty>
                        <extraHosts>
                            <string>2</string>
                        </extraHosts>
                    </dockerTemplateBase>
                    <removeVolumes>false</removeVolumes>
                    <pullStrategy>PULL_LATEST</pullStrategy>
                    <nodeProperties/>
                </com.nirima.jenkins.plugins.docker.DockerTemplate>
            </templates>
            <dockerHost plugin="docker-commons@1.8">
                <uri>tcp://somehost:5001</uri>
            </dockerHost>
            <connectTimeout>60</connectTimeout>
            <readTimeout>60</readTimeout>
            <version>1.12</version>
            <dockerHostname>adockerhost</dockerHostname>
            <containerCap>100</containerCap>
            <exposeDockerHost>false</exposeDockerHost>
        </com.nirima.jenkins.plugins.docker.DockerCloud>
        <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.0">
            <name>kubernetes</name>
            <defaultsProviderTemplate></defaultsProviderTemplate>
            <templates>
                <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
                    <inheritFrom></inheritFrom>
                    <name>maven</name>
                    <namespace>default</namespace>
                    <privileged>false</privileged>
                    <alwaysPullImage>false</alwaysPullImage>
                    <instanceCap>2147483647</instanceCap>
                    <slaveConnectTimeout>100</slaveConnectTimeout>
                    <idleMinutes>0</idleMinutes>
                    <label>maven default</label>
                    <nodeSelector></nodeSelector>
                    <nodeUsageMode>NORMAL</nodeUsageMode>
                    <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
                    <workspaceVolume
                            class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
                        <memory>false</memory>
                    </workspaceVolume>
                    <volumes/>
                    <containers>
                        <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
                            <name>maven</name>
                            <image>maven:latest</image>
                            <privileged>false</privileged>
                            <alwaysPullImage>false</alwaysPullImage>
                            <workingDir>/home/jenkins</workingDir>
                            <command>/bin/sh -c</command>
                            <args>cat</args>
                            <ttyEnabled>true</ttyEnabled>
                            <resourceRequestCpu>100m</resourceRequestCpu>
                            <resourceRequestMemory>250Mi</resourceRequestMemory>
                            <resourceLimitCpu>1000m</resourceLimitCpu>
                            <resourceLimitMemory>1024Mi</resourceLimitMemory>
                            <envVars/>
                            <ports/>
                            <livenessProbe>
                                <execArgs></execArgs>
                                <timeoutSeconds>0</timeoutSeconds>
                                <initialDelaySeconds>0</initialDelaySeconds>
                                <failureThreshold>0</failureThreshold>
                                <periodSeconds>0</periodSeconds>
                                <successThreshold>0</successThreshold>
                            </livenessProbe>
                        </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
                    </containers>
                    <envVars/>
                    <annotations/>
                    <imagePullSecrets/>
                </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
            </templates>
            <serverUrl>https://kubernetes-master:8443</serverUrl>
            <skipTlsVerify>false</skipTlsVerify>
            <namespace>default</namespace>
            <jenkinsUrl>http://localhost:8080/jenkins/</jenkinsUrl>
            <containerCap>10</containerCap>
            <retentionTimeout>5</retentionTimeout>
            <connectTimeout>0</connectTimeout>
            <readTimeout>0</readTimeout>
            <maxRequestsPerHost>32</maxRequestsPerHost>
        </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
    </clouds>
</hudson>